In [2]:
from geopy.geocoders import ArcGIS
import pandas

df = pandas.read_csv("2016-05-28-14-36-19-014281.csv")
gc =  ArcGIS(timeout = 3000)

In [5]:
df['Coordinates'] = df['Address'].apply(gc.geocode)
df['Coordinates'][0]

Location(3666 21st St, San Francisco, California, 94114, (37.756648011392286, -122.42937496976432, 0.0))

In [6]:
df

,ID,Address,Name,Employees,Coordinates
0,1,3666 21st St San Francisco CA 94114 USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St San Francisco CA 94119 USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St San Francisco California 94114 USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St San Francisco CA 94114 USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St San Francisco California USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."

In [7]:
df.Coordinates

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
Name: Coordinates, dtype: object

In [8]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x.latitude if x!= None else None)
df['Longitude'] = df['Coordinates'].apply(lambda x: x.longitude if x!= None else None)

In [9]:
df

,ID,Address,Name,Employees,Coordinates,Latitude,Longitude
0,1,3666 21st St San Francisco CA 94114 USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,735 Dolores St San Francisco CA 94119 USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,332 Hill St San Francisco California 94114 USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,3995 23rd St San Francisco CA 94114 USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,1056 Sanchez St San Francisco California USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028